.center{
    margin: auto;
    padding-bottom: 100px;
    margin-top: 75px;
    text-align: center;
}
.center h1{
    color: white;
}
.btn-search{
    padding: 5px 15px;
    color: white;
    background-color: rgb(14, 97, 129);
    border: 2px solid white;
    cursor: pointer;
}
.btn-search :hover{
    padding: 7px 17px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.input{
    height: 25px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 5px;
}










nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #82c8fd;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  .check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #050607;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #9cd3fd;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }